.container__contact {
    display: flex;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    top: 250px;
}

.screen__contact {
    flex: 0 1 700px;
    margin:  7rem auto 0 auto; /* Arriba | Derecha | Abajo | Izquierda*/
    position: relative;
    z-index: 3;
}

.screen__body__contact {
    display: flex;
}

.title__contact {
    font-size: large;
    font-size: clamp(1.80rem, 2.5vw, 4rem);
    font-family: var(--ff-titles);
    font-weight: 400;
    white-space: nowrap;
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    position: relative;
}

.screen__item__contact {
    flex: 1;
    padding: 30px 30px 60px 30px;
}

.screen__item__contact.left {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-content: center;
    margin-left: clamp(1rem, 2vw, 5rem);
}

.screen__item__contact {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-content: center;
  margin-left: clamp(1rem, 2vw, 5rem);
}

.svg__position {
    position: relative;
    margin-top: -200px;
}

@media screen and (max-width: 520px) {
    .screen__body__contact {
      flex-direction: column;
    }
 
    .title__contact {
      flex-direction: row;
    }
  }
  
  @media screen and (max-width: 600px) {
     .screen__body__contact {
      padding: 40px;
    } 
  
    .screen__item__contact {
      padding: 0;
    }

  }
  
@media screen and (max-width: 1286px) {
    .svg__position {
      margin-top: 0;
  }
}
