.container__contact--primary {
    position: relative;
    top: 300px;
    display: flex;
    flex-direction: column;
}

.title__contact {
    font-size: large;
    font-size: clamp(1.80rem, 2.5vw, 4rem);
    font-family: var(--ff-titles);
    font-weight: 400;
    white-space: nowrap;
    color: var(--light-color);
    position: relative;
    top: 5rem;
    margin-left: 3em;
}

.container__contact--secondary {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 10rem;
    align-items: center;
    justify-content: center;
}
