.contact-button {
    height: 43px;
    width: 150px;
    border-radius: 10px;
    font-weight: bolder;
    border: 0px;
    border-bottom: 2px solid #4F4F4F;
}
    @media screen and (min-width: 48rem) {
        .contact-button {
            right: 1rem;
        }
    }

.contact-button:hover {
    border-bottom: 0px solid #4F4F4F;
}