.social-container {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 354.16px;
    height: 110px;
    background: var(--light-color);
    margin-bottom: 2rem;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.flex-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}