/*ABOUT SECTION*/

.svg-about-background {
    position: absolute;
    top: 8rem; 
    opacity: 0.2;
    z-index: -1;
    margin-right: 1.20rem;
}

/*CONTACT SECTION*/
.svg-contact-vp {
    position: relative;
    top: 350px;
    width: 100vw;
}

