.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 4rem;
    box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 999;
    background-color: var(--dark-color);
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--ff-primary);
    font-weight: normal;
    font-size: 1rem;
    padding-left: 6rem;
    white-space: nowrap;
}  

@media screen and (max-width: 48rem) {
    .navbar-menu {
        display: none;
        }
    }

.link__pdf,
.navbar-menu-item {
    padding: 1.20rem;
    list-style: none;
    color: var(--light-color);
    text-decoration: none;
    transition: background-color 0.3s !important;
}

.navbar-menu-item:hover,
.navbar-menu-item:focus,
.link__pdf:hover,
.link__pdf:focus { 
    background-color: var(--mid-color);
    color: var(--dark-color);
}

.navbar-menu-item.active {
    background-color:var(--mid-color);
    color: var(--dark-color);
}

.navbar-button {
    width: 45rem;
    display: flex;
    justify-content: flex-end;    
}

@media screen and (min-width: 21rem) {
    .navbar-button {
        margin-right: 2rem;
    }
}
