.section-aboutme {
    position: relative;
    width: 100vw;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-aboutme {
    position: absolute;
    font-size: large;
    font-size: clamp(1.80rem, 2.5vw, 4rem);
    font-family: var(--ff-titles);
    font-weight: 400;
    white-space: wrap;
    color: var(--light-color);
    top: 150px;
}

.link__slider {
    color: white;
}

.link__slider:link {
    color: white;
}

.link__slider:hover {
    font-weight: bold;
}
.link__slider:active {
    color: var(--mid-color)
}