code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /*typographies*/
  --ff-titles: 'Abril fatface';
  --ff-primary: 'Quicksand', sans-serif;
  --ff-secondary: 'Exo', sans-serif;
  /*colors*/ 
  --brand-color: #C084FC;
  --dark-color: #111827;
  --mid-color: #BDA9D4;
  --light-color: #FAF5FF;
  --brand-dark-color: #9d3bff;
}

/* Box sizing rules */
*,
*::before,
*::after  {
  box-sizing: border-box;
  outline: none;
}

/* Remove margin, padding*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background-color: var(--dark-color);
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
}

a:not([className]) {
  text-decoration-skip-ink: auto;
}


@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}